* {
    margin: 0;
    padding: 0;
}
body
{
    background-image: url("/img/body2.jpg");
    background-repeat: none;
    background-position: center;
    text-align: center;
    color: white;
}
.imagenes {
    width: 2%;
    height: 2%;
}
footer {
    text-align: left;
}
